<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/style.map.css">
    <link rel="stylesheet" href="../../resources/css/style.regionTemplate.css">
    <link rel="stylesheet" href="../../resources/css/style.header.css">
    <link rel="stylesheet" href="../../resources/css/style.footer.css">
    <link rel="stylesheet" href="../../resources/css/style.generic.css">
    <link rel="shortcut icon" href="../../resources/img/icon.ico" type="image/x-icon">
    
    <!-- Fonts from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <!-- Pokemon font from CDN Fonts -->
    <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
                
    <title>Región</title>
</head>

<body>
    <!-- Header en React -->
    <div id="header-root"></div>

    <!-- Main content en React-->
    <div id="region-template"></div>

    <!-- Footer en React-->
    <div id="footer-root"></div>

    <!-- React and ReactDOM desde CDN -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    
    <!-- Babel per permitir JSX -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- Header amb JSX -->
    <script type="text/babel" src="../../resources/react/header.jsx"></script>

    <!-- Region template amb JSX -->
    <script type="text/babel" src="../../resources/react/regionTemplate.jsx"></script>

    <!-- Footer amb JSX -->
    <script type="text/babel" src="../../resources/react/footer.jsx"></script>
</body>

</html>