<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/style.regions.css">
    <link rel="shortcut icon" href="../../resources/img/icon.ico" type="image/x-icon">
    <!-- Fonts from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Regions</title>
</head>

<body>
    <!-- Header en React -->
    <div id="header-root"></div>

    <!-- Main content -->
    <main>
        <!-- Regions title -->
        <h2>Pokemon World</h2>

        <div class="parent">
            <div>
                <img src="../../resources/img/kantoMap.webp" alt="Kanto region map">
                <a href="#" class="button">Kanto</a>
            </div>
            <div>
                <img src="../../resources/img/JohtoMap.webp" alt="Johto region map">
                <a href="#" class="button">Johto</a>
            </div>
            <div>
                <img src="../../resources/img/HoennMap.webp" alt="Hoenn region map">
                <a href="#" class="button">Hoenn</a>
            </div>
        </div>

        <div class="parent">
            <div>
                <img src="../../resources/img/SinnohMap.webp" alt="Sinnoh region map">
                <a href="#" class="button">Sinnoh</a>
            </div>
            <div>
                <img src="../../resources/img/UnovaMap.webp" alt="Unova region map">
                <a href="#" class="button">Unova</a>
            </div>
            <div>
                <img src="../../resources/img/KalosMap.webp" alt="Kalos region map">
                <a href="#" class="button">Kalos</a>
            </div>
        </div>

        <div class="parent">
            <div>
                <img src="../../resources/img/AlolaMap.webp" alt="Alola region map">
                <a href="#" class="button">Alola</a>
            </div>
            <div>
                <img src="../../resources/img/GalarMap.webp" alt="Galar region map">
                <a href="#" class="button">Galar</a>
            </div>
            <div>
                <img src="../../resources/img/PaldeaMap.webp" alt="Paldea region map">
                <a href="#" class="button">Paldea</a>
            </div>
        </div>
    </main>

    <!-- React and ReactDOM desde CDN -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    
    <!-- Babel per permitir JSX -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- Header amb JSX -->
    <script type="text/babel" src="../../resources/react/header.jsx"></script>
</body>

</html>