body {
    background-color: rgb(234, 253, 253);
    margin: 0   ;
}
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    background-color: aqua;
}
    
.div1 {
    grid-row: span 2 / span 2;
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: blue;
    border-radius: 10%;
    padding: 5vh;
}

.div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: blue;
    border-radius: 10%;
    padding: 5vh;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
    background-color: blue;
    border-radius: 10%;
    padding: 5vh;
}

.div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
    background-color: blue;
    border-radius: 10%;
    padding: 5vh;
}
        