footer {
    background: linear-gradient(120deg, #9cc2fc 10%, #4370b4 160%);
    box-shadow: 0 4px 12px rgba(18, 9, 51, 0.452);
    padding: 32px;
    display: flex;
    align-items: center;      
    justify-content: space-between;
}

.navF {
    display: flex;
    gap: 24px;
    list-style: none;
}

.navF a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navF img {
    object-fit: contain;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.4));
    transition: transform .3s ease;
    padding: 10px;
    border-radius: 15px;
    width: auto;
    height: 40px;
}

.navF img:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.2);
}

.titleAutor  {
    color: white;
    font-family: 'Quicksand', sans-serif;
}